<!-- <h1 class="headline-border" style="padding: 20px 20px;">Welcome at SOWA! </h1> -->
<section class="SectionComponent hero section is-block is-relative is-white is-medium" style="background-size: 700px; background-image: url(../../assets/img/network.jpg)">
    <div class="container">
        <div class="columns is-vcentered is-desktop" >
            <div class="column is-5-desktop has-text-centered-touch">
                <header class="SectionHeader__header">
                    <h1 class="title is-spaced has-text-weight-bold is-1 is-size-2-mobile" style="color: white!important;">Welcome to the SENPH Ontology Web Application.
                    </h1>
                    <p class="subtitle" style="color: white!important;">This web application offers a wiki platform to create and access crowd sourced explicit information about instances of sensors, phenomena, devices and domains.</p>
                </header><button class="button is-warning is-medium">Get Started</button>
            </div>
            <div class="column is-1"></div>
            <div class="column">
                <figure class="HeroSection__image image"><img src="../../assets/img/SENPHOntology_Logo.png"
                        alt="Illustration"></figure>
            </div>
        </div>
    </div>
</section>