<senph-hero-banner title="Phenomena" subtitle="Discover all phenomena registered in SOWA"></senph-hero-banner>

<section class="hero is-dark is-small is-bold">
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-vcentered">
        <div class="column is-8">
          <div class="field">
            <p class="control has-icons-left is-expanded">
              <input class="input" type="text" #myInput placeholder="Type to filter phenomena..."
                [(ngModel)]="searchTerm">
              <span class="icon is-left">
                <fa-icon [icon]="faSearch"></fa-icon>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-1 is-offset-3" *ngIf="phenomenaArray">
          <div class="has-text-centered">
            <p class="heading">Phenomena</p>
            <p class="title"> {{phenomenaArray.length}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <div class="notification is-light">
    <!-- <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input" type="text" #myInput placeholder="Type to filter phenomena..." [(ngModel)]="searchTerm">
      </p>
    </div> -->
    <div class="list is-hoverable">
      <div class="list-item">
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">

          </div>
          <div class="column is-5">
            <strong>
              Label
            </strong>
          </div>
          <div class="column is-6">
            <strong>
              URI
            </strong>
          </div>
        </div>
      </div>
      <div class="list-item" *ngFor="let phenomena of phenomenaArray | filterPipe:searchTerm;let i = index"
        [class.selected]="phenomena === selectedPhenomenon" (click)="onSelect(phenomena)">
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">
            {{i+1}}
          </div>
          <div class="column is-5">
            {{phenomena.phenomenonLabel[0]?.value}}
          </div>
          <div class="column is-6">
            {{phenomena.phenomenon.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>