<senph-hero-banner title="Discover phenomena"
  subtitle="Here you can find a list of all phenomena that are registered in SOWA"></senph-hero-banner>

<div class="container">
  <div class="notification">


    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input" type="text" #myInput placeholder="Type to filter phenomena..." [(ngModel)]="phenomena">
      </p>
      <p class="control">
        <a (click)="filterItem(myInput.value)" class="button is-info">
          Search
        </a>
      </p>
    </div>

    <table class="table is-hoverable is-striped">
      <thead>
        <tr>
          <th><abbr title="Number">No.</abbr></th>
          <th>Label</th>
          <th><abbr title="Uniform Resource Identifier">URI</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Number">No.</abbr></th>
          <th>Label</th>
          <th><abbr title="Uniform Resource Identifier">URI</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let phenomena of phenomenaArrayFiltered;let i = index" [hidden]='phenomena.phenomenon.type != "uri"'
          [class.selected]="phenomena === selectedPhenomenon">
          <th>{{i+1}}</th>
          <td>
            <a (click)="onSelect(phenomena)" class="button"
              title="{{phenomena.label[0]?.value}}">{{phenomena.label[0]?.value}}</a>
          </td>
          <td>{{phenomena.phenomenon.value}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>