<section class="SectionComponent hero section is-block is-relative is-light is-normal is-dark">
  <div class="FooterComponent__container container">
    <div class="columns is-centered is-vcentered">
      <div class="brand column is-4">
        <a href="/">
          <img src="../../assets/img/SENPHOntology_Logo.png" alt="">
        </a>
      </div>

      <div class=" brand column is-4 ">
          <div class="columns is-vcentered is-gapless">
              <div class="column is-3">
              </div>
          <div class="column is-4">

        <span class="brand" style="color: #ffd63e; font-family: BrixSlab-Bold;">SENPH Ontology Web Application</span>
      </div>
      <div class="brand column is-2">
        <img src="../../assets/img/owl_logo.png" alt="Logo">
      </div>
      <div class="column is-3">
</div>

    </div>
      </div>

      <div class="column is-4">
        <div class="links right">
          <a href="/about">About</a><a href="/faq">FAQ</a>
          <a href="/contact">Contact</a>
          <a target="_blank" href="https://medium.com" rel="noopener noreferrer">Blog</a>
        </div>
        <div class="social right">
          <a href="https://twitter.com/SenseBox_De" target="_blank" rel="noopener noreferrer">
            <span class="icon"><i class="fa fa-twitter"></i>
            </span>
          </a>
          <a href="https://facebook.com/sensebox.de" target="_blank" rel="noopener noreferrer">
            <span class="icon"><i class="fa fa-facebook-f"></i>
            </span>
          </a>
          <a href="https://instagram.com/sensebox_de" target="_blank" rel="noopener noreferrer"><span class="icon"><i
                class="fa fa-instagram"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-half" style="text-align: center; font-size: 10px">
        © 2019 senseBox
      </div>
    </div>
  </div>
</section>