<mat-toolbar style="background-color: #0000006b;" class="example-toolbar">
    <h1 class="example-app-name capitalize" style="color: #ffd63e;">{{labels[0]?.iri}}</h1>
</mat-toolbar>
<div class="content">
  <table>
  <thead>    
    <tr>
          <th class="mat-h-cell">
            URI
          </th >
          <th class="mat-h-cell">
            Label
          </th >
          <th class="mat-h-cell">      
            Description        
          </th>
          <th class="mat-h-cell">
            Unit
          </th>
          <th class="mat-h-cell">      
            Sensor URI
          </th>
          <th class="mat-h-cell">
            Domain
          </th>
    </tr>
    <tbody>
    <tr>
      <td class="mat-cell">
          <ul>
            <li *ngFor='let iri of uri'>
                {{iri.iri}}
            </li>
          </ul>
      </td>
      <td class="mat-cell">
          <ul>
              <li *ngFor='let iri of labels'>
                  {{iri.iri}}
              </li>
            </ul>
      </td>
      <td class="mat-cell">
        <ul>
            <li *ngFor='let iri of descriptions'>
                {{iri.iri}}
            </li>
          </ul>      
      </td>
      <td class="mat-cell">
        <ul>
            <li *ngFor='let iri of units'>
                {{iri.iri}}
            </li>
          </ul>
      </td>
      <td class="mat-cell">
        <ul>
            <li *ngFor='let iri of sensors'>
                {{iri.iri}}
            </li>
          </ul>
      </td>
      <td class="mat-cell">
        <ul>
            <li *ngFor='let iri of domains'>
                {{iri.iri}}
            </li>
          </ul>
      </td>
    </tr>
  </tbody>
  </table>
</div>