<div *ngIf='sensors != undefined  && domains != undefined && units != undefined && labels != undefined && labels.length > 0 && phenomenon != undefined'></div>

  <h1 *ngIf='labels'>{{labels[0].value}}
     <span class="lang-tag" *ngIf='labels[0]["xml:lang"]'>{{labels[0]["xml:lang"]}}</span>
  </h1>
  <div *ngFor='let eachlabel of labels;let i = index' >
      <div *ngIf='i != 0'> Alternative labels:
        <ul>
          <li>
          {{eachlabel.value}}
            <span class="lang-tag" *ngIf='eachlabel["xml:lang"]'>{{eachlabel["xml:lang"]}}</span> 
          </li>
        </ul>
      </div>
  </div> 
  <h2>Can be measured by:</h2>
  <ul>
    <li *ngFor='let eachsensor of sensors.iri;let i = index'>
    IRI: 
      <a [routerLink]="'/sensor/' + eachsensor.replace('http://www.opensensemap.org/SENPH#','')" target="_blank">{{eachsensor}}</a>
    <p *ngFor = 'let eachlabel of sensors.labels[i]'>Labels  {{eachlabel.value}} 
      <span class="lang-tag" *ngIf='eachlabel["xml:lang"]'>{{eachlabel["xml:lang"]}}</span>
    </p>
  </li>
  </ul>

  <h2>Has domain:</h2>
  <ul>
  <li *ngFor='let eachdomain of domains.iri;let j = index'>
      IRI:
      <a [routerLink]="'/domain/' + eachdomain.replace('http://www.opensensemap.org/SENPH#','')" target="_blank">{{eachdomain}}</a> 
      <p *ngFor = 'let eachlabel of domains.labels[j]'>Labels:  {{eachlabel.value}} 
        <span class="lang-tag" *ngIf='eachlabel["xml:lang"]'>{{eachlabel["xml:lang"]}}</span>
      </p>
  </li>
  </ul>
  

  <h2>Described with unit:</h2>
  <li *ngFor= 'let unit of units.iri'>
    IRI: <a href="{{unit}}" target="_blank">{{unit}}</a>
      <!-- <p>{{sensor.sensors.value}}</p> -->
    <!-- <p>Label: {{unit.unitsLabel.value}}</p> -->
  </li>
  <!-- <div *ngFor= 'let desc of phenomenon.descriptions'>
    <p>{{desc["value"]}}<span class="lang-tag" *ngIf='desc["xml:lang"]'>{{desc["xml:lang"]}}</span></p>
  </div> -->
  <!-- <div *ngFor= 'let unit of phenomenon.units'>
      <a href="{{unit.value}}" target="_blank">{{unit.value}}</a>
  </div> -->
  <!-- <div *ngFor= 'let domain of phenomenon.domains; let i = index'>
      <a [routerLink]="'/domain/' + domain.value.replace('http://www.opensensemap.org/SENPH#','')" target="_blank">{{phenomenon.domainsLabel[i].value}}</a>
  </div> -->


  