<div *ngIf="sensor != undefined">

  <senph-hero-banner [title]="sensor.labels | labelLanguagePipe" [valid]="sensor.validation" [subtitle]="uri"
    (myEvent)="button1(uri)" [button]="buttons.button1" >
  </senph-hero-banner>

  <section class="section">
    <div class="container-fluid px-0">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <!-- <senph-uri-tile [parent]="sensor"></senph-uri-tile> -->
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-warning">
                <p class="title">URI</p>
                <div class="content">
                  <strong>
                    {{sensor.labels | labelLanguagePipe}}
                  </strong>
                </div>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Labels</p>
                <p class="subtitle">These are the available labels in various languages for the {{sensor.labels | labelLanguagePipe}} Sensor:</p>
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>
                        Label
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>
                        Language
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let label of sensor.labels;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      {{i+1}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      {{label.text}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      {{search(label.languageCode, "val", languageArray)}}
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <p class="title">Description</p>
                <div class="content">
                  <strong *ngIf="sensor.description">
                    {{sensor.description.item | labelLanguagePipe}}
                  </strong>
                </div>
              </article>
            </div>
          </div>
          <div class="tile is-parent">

            <article class="tile is-child notification is-danger">
              <p class="title">Measurable Phenomena</p>
              <p class="subtitle">These are the phenomena that can be measured using the {{sensor.labels | labelLanguagePipe}} Sensor:</p>
              <div class="content">
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Name</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Unit</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Value of Accuracy</strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let sensorElement of sensor.sensorElements;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>
                        {{i+1}}
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a class="" (click)="redirectElement(sensorElement.phenomenonSlug, '/phenomenon/detail/')">
                        {{sensorElement.phenomenonLabels | labelLanguagePipe}}
                      </a>
                    </p>
                  </div>
                  <div class="column is-fullwidth" *ngIf="sensorElement.unit != null">
                    <p class="bd-notification is-primary">
                      <a class="" (click)="redirectElement(sensorElement.unitSlug, '/unit/detail/')">
                        <!-- TODO: FIX link on unit ISSUE -->
                        <!-- {{searchUnit(sensor.sensorElements[i].unit, unitsArray)}} -->
                        {{sensorElement.unit}}
                      </a>
                    </p>
                  </div>
                  <div class="column is-fullwidth" *ngIf="sensorElement.unit === null">
                    <p class="bd-notification is-primary">
                      Not specified.
                    </p>
                  </div>
                  <div class="column is-fullwidth" *ngIf="sensorElement.accuracy != null">
                    <p class="bd-notification is-primary">
                      &plusmn; {{sensorElement.accuracy}}
                    </p>
                  </div>
                  <div class="column is-fullwidth" *ngIf="sensorElement.accuracy === null">
                    <p class="bd-notification is-primary">
                      Not specified.
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification is-dark">
                <p class="title">Price</p>
                <p class="subtitle">The estimated price in euro is:</p>
                <div class="content">
                  <strong>
                    <p *ngIf="sensor.price != null">{{sensor.price}} €</p>
                    <p *ngIf="sensor.price == null ">undefined</p>
                  </strong>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article *ngIf="sensor.image != null else noImage" class=" tile is-child notification is-dark">
                <figure class="image is-256x256">
                  <img class="is-rounded" src="{{APIURL}}/images/upload/{{sensor.image}}">
                </figure>
                <p>
                  The {{sensor.labels | labelLanguagePipe}}. <a href="{{sensor.image}}">Source</a>
                </p>
              </article>
            </div>
            <ng-template #noImage>
              <div class="no-image">
                <span>
                  ?
                </span>
              </div>
            </ng-template>
          </div>
          <div class="tile is-vertical is-parent">
            <article class="tile is-child notification is-dark">
              <p class="title">Manufacturer</p>
              <p class="subtitle">The manufacturer of this sensor is:</p>
              <div class="content">
                <strong>
                  <p *ngIf="sensor.manufacturer != null">{{sensor.manufacturer}}</p>
                  <p *ngIf="sensor.manufacturer == null ">Currently not specified.</p>
                </strong>
              </div>
            </article>
            <article class="tile is-child notification is-dark">
              <p class="title">Life period</p>
              <p class="subtitle">The estimated life period of the {{prefLabel?.text}} is:</p>
              <div class="content">
                <strong>
                  <p *ngIf="sensor.lifePeriod != null">{{sensor.lifePeriod}} Days</p>
                  <p *ngIf="sensor.lifePeriod == null ">Currently not specified.</p>
                </strong>
              </div>
            </article>
            <article class="tile is-child notification is-dark">
              <p class="title">Datasheet</p>
              <p class="subtitle">You can find the datasheet of this sensor at:</p>
              <div class="content">
                <strong>
                  <a *ngIf="sensor.datasheet != null" class="" href="{{sensor.datasheet}}" target="_blank">{{sensor.datasheet}}</a>
                  <p *ngIf="sensor.datasheet == null" class="">undefined</p>
                </strong>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article *ngIf="sensor.markdown && sensor.markdown.value != ''" class="tile is-child notification">
            <p class="title">Explanation</p>
            <md-editor ngModel="{{sensor.markdown.value}}" name="Content" [upload]="doUpload" [height]="'auto'" mode="preview"
              [options]="markdownOptions">
            </md-editor>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>