<mat-toolbar style="background-color: #0000006b;" class="example-toolbar">
    <h1 class="example-app-name capitalize" style="color: #ffd63e;">Phenomena List</h1>
</mat-toolbar>
<h1 class="headline-border"></h1>
<div class="content">

<input matInput #myInput placeholder="Type to filter phenomena..." [(ngModel)]="phenomena" (input)="filterItem(myInput.value)">


<ul class="heroes">
    <li>
    <span class="badge">No.</span> <span class="badge t">Label</span> URI </li>
    <li *ngFor="let phenomena of phenomenaArrayFiltered;let i = index"
      [class.selected]="phenomena === selectedPhenomenon"
      (click)="onSelect(phenomena)" [hidden]='phenomena.phenomenon.type != "uri"' >
      <span class="badge">{{i+1}}</span> <span class="badge t" >{{phenomena.label[0]?.value}}</span> {{phenomena.phenomenon.value}}
    </li>
  </ul>

</div>