<div class="container">
  <div>
    <h1>Add Sensor Form</h1>
    <form (ngSubmit)="onSubmit()" #sensorForm="ngForm">
    
      <div class="form-group row">
          <label class="col-sm-12" for="uriInput">URI-Tag (URL is added automatically as shown, please provide tag only)</label>  
          <div class="uriInput col-sm-6">
            <input class="form-control" value="http://www.opensensemap.org/SENPH#" readonly>
          </div>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="uri"
              required
              [(ngModel)]="sensorModel.uri" name="uri"
              #uri="ngModel" placeholder="simple_sensor_identifier">
              <div [hidden]="uri.valid || uri.pristine"
                    class="alert alert-danger">
                URI-Tag is required
              </div>              
          </div>
      </div>
    
      <div class="form-group">
      <label for="nameS">Name</label>
      <input type="text" class="form-control" id="nameS"
              required
              [(ngModel)]="sensorModel.name.label" name="nameS"
              #nameS="ngModel">
      <div [hidden]="nameS.valid || nameS.pristine"
            class="alert alert-danger">
        Name is required
      </div>
    </div>
  
    <div class="form-group">
      <label for="power">Language</label>
      <select class="form-control" id="labelLangS"
              required
              [(ngModel)]="sensorModel.name.lang" name="labelLangS"
              #labelLangS="ngModel">
        <option *ngFor="let llangS of languageTags" [value]="llangS.short">{{llangS.name}}</option>
      </select>
      <div [hidden]="labelLangS.valid || labelLangS.pristine" class="alert alert-danger">
        Language is required
      </div>
    </div>
  
  
  
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="descriptionS"
              required
              [(ngModel)]="sensorModel.description.comment" name="descriptionS"
              #descriptionS="ngModel">
      <div [hidden]="descriptionS.valid || descriptionS.pristine"
            class="alert alert-danger">
        Description is required
      </div>
    </div>
  
  
    <div class="form-group">
      <label for="power">Language</label>
      <select class="form-control" id="commentLangS"
              required
              [(ngModel)]="sensorModel.description.lang" name="commentLangS"
              #commentLangS="ngModel">
        <option *ngFor="let clangS of languageTags" [value]="clangS.short">{{clangS.name}}</option>
      </select>
      <div [hidden]="commentLangS.valid || commentLangS.pristine" class="alert alert-danger">
        Language is required
      </div>
    </div>
  
    <!-- <div class="form-group">
        <label for="phenomenaS">Phenomena</label>
        <select class="form-control" id="phenomenaS"
                required
                [(ngModel)]="sensorModel.sensorElement[0].phenomenon" name="phenomenaS"
                #phenomenaS="ngModel">
          <option *ngFor="let phenomenon of phenomenaList" [value]="phenomenon.phenomenon.value">{{phenomenon.label[0]?.value}}</option>
        </select>
        <div [hidden]="phenomenaS.valid || phenomenaS.pristine" class="alert alert-danger">
          Phenomenon is required
        </div>
      </div> -->

    <div class="form-group">
      <label for="phenomena">Phenomena</label>
      <br>
      <mat-form-field>
        <mat-label>phenomena</mat-label>
        <mat-select [(ngModel)]="sensorModel.sensorElement.phenomenon" name="phenomena" multiple>
          <mat-option *ngFor="let phenomenon of phenomenaList" [value]="phenomenon.phenomenon.value">{{phenomenon.label[0]?.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <label for="phenomenaUnit">Unit of accuracy</label>
      <input type="text" class="form-control" id="phenomenaSUnit"
              [(ngModel)]="sensorModel.sensorElement.uoa" name="phenomenaSUnit">
    </div>
  
  
    <div class="form-group">
      <label for="manu">Manufacturer</label>
      <input type="text" class="form-control" id="manu"
            required
            [(ngModel)]="sensorModel.manufacturer" name="manu"
            #manu="ngModel">
      <div [hidden]="manu.valid || manu.pristine"
            class="alert alert-danger">
        Manufacturer is required
      </div>
    </div>
  
    <div class="form-group">
      <label for="price">Price</label>
      <br>
      <mat-form-field>
        <mat-select [(ngModel)]="sensorModel.price" name="price">
          <mat-option *ngFor="let price of prices" [value]="price.value">
            {{price.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="dataSheet">Data sheet</label>
      <input type="text" class="form-control" id="dataSheet"
              [(ngModel)]="sensorModel.dataSheet" name="dataSheet">
    </div>
    <div class="form-group">
      <label for="lifePeriod">Life period</label>
      <input type="text" class="form-control" id="lifePeriod"
              [(ngModel)]="sensorModel.lifePeriod" name="lifePeriod">
    </div>
    <div class="form-group">
      <label for="image">Image-Link</label>
      <input type="text" class="form-control" id="image"
              [(ngModel)]="sensorModel.image" name="image">
    </div>
    <div class="form-group">
        <label for="device">Device</label>
        <input type="text" class="form-control" id="device"
              [(ngModel)]="sensorModel.device" name="device">
    </div>
  
    <button type="submit" class="btn btn-success" [disabled]="!sensorForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="diagnostic(sensorModel)">New Sensor</button>
  </form>
  </div>
  
  <div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ sensorModel.name.label }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Description</div>
    <div class="col-xs-9">{{ sensorModel.description.comment }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Unit</div>
    <div class="col-xs-9">{{ sensorModel.unit }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  
  
  
  
  
  </div>
</div>
