<div *ngIf="phenomenon != undefined">

  <senph-hero-banner [title]="prefLabel?.value" [valid]="phenomenon.validation?.value" [subtitle]="phenomenon.iri.value"
    (myEvent)="button1(uri)" [button]="historic.button1" (myEvent2)="getHistory(uri)" [button2]="historic.button2">>
  </senph-hero-banner>

  <section *ngIf="phenomenonHistory">
    <div class="list is-hoverable">
      <div class="list-item">
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">
            Index
          </div>
          <div class="column is-5">
            <strong>
              URI
            </strong>
          </div>
          <div class="column is-3">
            <strong>
              Timestamp:
            </strong>
          </div>
          <div class="column is-3">
            <strong>
              Editor
            </strong>
          </div>
        </div>
      </div>
      <div class="list-item" *ngFor="let version of phenomenonHistory;let i = index"
        [class.selected]="version === selectedVersion" (click)=redirectHistoricDetails(uri,version.phenomenon.value)>
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">
            {{i+1}}
          </div>
          <div class="column is-5">
            {{version.phenomenon.value}}
          </div>
          <div class="column is-3" *ngIf="version.dateTime">
            {{version.dateTime.value | date:'long'}}
          </div>
          <div class="column is-3" style="color: darkred;" *ngIf="!version.dateTime">
            Timestamp is missing
          </div>
          <div class="column is-3" *ngIf="version.user">
            {{version.user.value}}
          </div>
          <div class="column is-3" style="color: darkred;" *ngIf="!version.user">
            Editor is unknown
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section" *ngIf="!phenomenonHistory">
    <div class="container is-fluid">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <!-- <senph-uri-tile [parent]="phenomenon"></senph-uri-tile> -->
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-warning">
                <p class="title">URI</p>
                <div class="content">
                  <strong>
                    {{phenomenon.iri.value}}
                  </strong>
                </div>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Labels</p>
                <p class="subtitle">These are the available labels in various languages for the
                  {{prefLabel?.value}}:</p>
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>
                        Label
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>
                        Language
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let label of phenomenon.labels;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      {{i+1}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      {{label.value}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      {{search(label, languageArray)}}
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <p class="title">Description</p>
                <div class="content">
                  <strong *ngIf="phenomenon.description">
                    {{phenomenon.description.value}}
                  </strong>
                </div>
              </article>
            </div>
          </div>

          <!-- Domains -->
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Domains</p>
              <p class="subtitle">
                {{prefLabel?.value}} is part of the following domains:
              </p>
              <div class="content">
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Label</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>URI</strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let domain of phenomenon.domains;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>
                        {{i+1}}
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      {{domain.domainLabel?.value}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a (click)="redirectDomain(domain.domain.value, '/phenomenon/detail/')">
                        {{domain.domain.value}}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <!-- Units -->
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Units</p>
              <p class="subtitle">
                These are the units that can be describe {{prefLabel?.value}}
              </p>
              <div class="content">
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Label</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Min</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Max</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>URI</strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let unit of phenomenon.units;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>
                        {{i+1}}
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary" *ngIf="unitsArray">
                      {{searchPheno(unit.unit.value, "y", unitsArray , "label")}}
                      <!-- {{unit.unitLabel.value}} -->
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a>
                        {{unit.min.value}}
                      </a>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a>
                        {{unit.max.value}}
                      </a>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a (click)="redirectDomain(unit.unit.value, '/phenomenon/detail/')">
                        {{unit.unit.value}}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <p class="title">Explanation</p>
        <article *ngIf="phenomenon.markdown" class="tile is-child notification">
          <md-editor ngModel="{{phenomenon.markdown.value}}" name="Content" [upload]="doUpload"
            [preRender]="preRenderFunc" [postRender]="postRenderFunc" [height]="'400px'" mode="preview"
            [options]="markdownOptions" required maxlength="500">
          </md-editor>
        </article>
      </div>
    </div>
  </section>
</div>