<div *ngIf="phenomenon != undefined">

  <senph-hero-banner [title]="phenomenon.labels | labelLanguagePipe" [valid]="phenomenon.validation" [subtitle]="uri"
    (myEvent)="button1(uri)" [button]="historic.button1" (myEvent2)="getHistory(uri)" [button2]="historic.button2">>
  </senph-hero-banner>

  <section *ngIf="phenomenonHistory">
    <div class="list is-hoverable">
      <div class="list-item">
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">
            Index
          </div>
          <div class="column is-5">
            <strong>
              URI
            </strong>
          </div>
          <div class="column is-3">
            <strong>
              Timestamp:
            </strong>
          </div>
          <div class="column is-3">
            <strong>
              Editor
            </strong>
          </div>
        </div>
      </div>
      <div class="list-item" *ngFor="let version of phenomenonHistory;let i = index"
        [class.selected]="version === selectedVersion" (click)=redirectHistoricDetails(uri,version.phenomenon.value)>
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">
            {{i+1}}
          </div>
          <div class="column is-5">
            {{version.phenomenon.value}}
          </div>
          <div class="column is-3" *ngIf="version.dateTime">
            {{version.dateTime.value | date:'long'}}
          </div>
          <div class="column is-3" style="color: darkred;" *ngIf="!version.dateTime">
            Timestamp is missing
          </div>
          <div class="column is-3" *ngIf="version.user">
            {{version.user.value}}
          </div>
          <div class="column is-3" style="color: darkred;" *ngIf="!version.user">
            Editor is unknown
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section" *ngIf="!phenomenonHistory">
    <div class="container is-fluid">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <!-- <senph-uri-tile [parent]="phenomenon"></senph-uri-tile> -->
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-warning">
                <p class="title">URI</p>
                <div class="content">
                  <strong>
                    {{phenomenon.labels | labelLanguagePipe}}
                  </strong>
                </div>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Labels</p>
                <p class="subtitle">These are the available labels in various languages for the
                  {{prefLabel?.text}}:</p>
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>
                        Label
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>
                        Language
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let label of phenomenon.labels;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      {{i+1}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      {{label.text}}
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <!-- {{search(phenomenon.labels[i].languageCode, languageArray)}} -->
                      {{search(label.languageCode, "val", languageArray, "show")}}
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <p class="title">Description</p>
                <div class="content">
                  <strong *ngIf="phenomenon.description">
                    {{phenomenon.description.item[1].text}}
                  </strong>
                </div>
              </article>
            </div>
          </div>

          <!-- Domains -->
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Domains</p>
              <p class="subtitle">
                {{prefLabel?.text}} is part of the following domains:
              </p>
              <div class="content">
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Label</strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let domain of phenomenon.domains;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>
                        {{i+1}}
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a (click)="redirectDomain(domain.domain, '/domain/detail/')">
                        {{domain.domainLabel | labelLanguagePipe}}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <!-- Units -->
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Units</p>
              <p class="subtitle">
                These are the units that can describe {{prefLabel?.text}}
              </p>
              <div class="content">
                <div class="columns is-mobile is-multiline is-centered">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>

                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Label</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Min</strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <strong>Max</strong>
                    </p>
                  </div>
                </div>
                <div class="columns is-mobile is-multiline is-centered"
                  *ngFor="let unit of phenomenon.units;let i = index">
                  <div class="column is-1">
                    <p class="bd-notification is-primary">
                      <strong>
                        {{i+1}}
                      </strong>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary" >
                      <a (click)="redirectDomain(unit.id, '/phenomenon/detail/')">
                        {{unit.unitLabel}}
                      </a>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a>
                        {{unit.min}}
                      </a>
                    </p>
                  </div>
                  <div class="column is-fullwidth">
                    <p class="bd-notification is-primary">
                      <a>
                        {{unit.max}}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          
          <div class="tile is-parent">
            <article *ngIf="phenomenon.markdown && phenomenon.markdown.value != ''" class="tile is-child notification">
              <p class="title">Explanation</p>
              <md-editor ngModel="{{phenomenon.markdown.value}}" name="Content" [upload]="doUpload" [height]="'auto'"
                mode="preview" [options]="markdownOptions">
              </md-editor>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>