<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container is-fluid">
      <nav class="level">

        <div class="level-left">
          <div>
            <h1 class="title" style="color: #ffd63e;">
              {{title}}
            </h1>
            <h2 *ngIf="subtitle" class="subtitle" style="color: #ffd63e;">
              {{subtitle}}
            </h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item" *ngIf="button">
            <a class="button is-warning" (click)="buttonClick()">{{button}}</a>
          </div>
          <div class="level-item" *ngIf="button2">
            <a class="button is-warning" (click)="buttonClick2()">{{button2}}</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

</section>