<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container-fluid">
      <nav class="level">

        <div class="level-left">
          <div>
            <h1 class="title" style="color: #ffd63e;">
              {{title}}
              <span class="fa fa-stack fa-xs" *ngIf="valid == 'true'">
                <i class="fa fa-certificate fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse black"></i>
              </span>
            </h1>
            <h2 *ngIf="subtitle" class="subtitle" style="color: #ffd63e;">
              {{subtitle}}
            </h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item" *ngIf="button">
            <a class="button is-warning" (click)="buttonClick()">{{button}}</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

</section>