<h1 class="headline-border">Sensors List</h1>
<table style="margin: 20px 0">
  <thead>
    <tr>     
      <th style="width:25%">NAME:</th>
      <th> URI:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let sensors of sensorsArray'>
      
      <td class="table-entry">
        {{sensors.label[0]?.value}}
      </td>
      <td *ngIf='sensors.sensor.type === "uri"'>
        <button [routerLink]="['/sensor', sensors.sensor.value]"> 
          {{sensors.sensor.value}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <ul>
  <li *ngFor='let sensors of sensorsArray'>
    
  {{log(sensors)}}
  </li>
</ul> -->