<mat-toolbar style="background-color: #0000006b;" class="example-toolbar">
    <h1 class="example-app-name capitalize" style="color: #ffd63e;">Domain List</h1>
</mat-toolbar>
<h1 class="headline-border"></h1>
<div class="content">
  <table style="margin: 20px 0">
    <tbody>
      <tr>     
        <th style="width:45%">NAME:</th>
        <th style="width:55%"> URI:</th>
      </tr>
      <tr *ngFor='let domains of domainArray'>
        <td class="table-entry">
          {{domains.label[0]?.value}}
        </td>
        <td *ngIf='domains.domain.type === "uri"'>
          {{domains.domain.value}}
        </td>
      </tr>
    </tbody>
  </table>
</div>