<form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="sensorForm">


  <!-- 1 FORM-CONTENT -->
  <!-- <div class="panel panel-default"> -->


  <!-- 1.1 BANNER -->
  <senph-hero-banner title="Edit Sensor:" [subtitle]="shortUri"
    button="Back to Detail-View" (myEvent)="redirectDetails(shortUri)">
  </senph-hero-banner>


  <!-- 1.2 FORM-FIELDS -->
  <div class="panel-body">


    <!-- 1.2.1 URI -->
    <!-- <div class="container well some-space">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">URI:</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class=" input-group">
                <span class="input-group-addon" id="heroaddon">{{heroBannerString}}</span>
                <input type="text" id="uri" formControlName="uri" class="input is-normal" (blur)="logValidationErrors()"
                  aria-describedby="heroaddon">
              </div>
            </div>
            <span class="help-block">The Uniform Resource Identifier (URI) of a sensor is meant to uniquely identify
              it among other sensors. For all sensors being entered in this Wiki, it starts with
              'http://sensors.wiki/SENPH#' followed by an unique extension. Once the URI is set it should not
              be changed.</span>
            <span class="help-block error-block" *ngIf="formErrors.uri">
              {{formErrors.uri}}
            </span>
          </div>
        </div>
      </div>
    </div> -->


    <!-- 1.2.2 LABELS -->
    <div class="container well some-space">
      <label for="label">Labels</label>
      <senph-label [parentForm]="sensorForm"></senph-label>
    </div>


    <!-- 1.2.3 DESCRIPTIONS -->
    <div class="container well some-space">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div formGroupName="description" class="control">
              <textarea class="textarea is-normal" type="text" id="description" formControlName="text"
                (blur)="logValidationErrors()"></textarea>
            </div>
            <span class="help-block">Please enter a short description of the sensor and its capabilities.</span>
            <span class="help-block error-block" *ngIf="formErrors.description">
              {{formErrors.description}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Markdown Editor
    <div class="container well some-space">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Explanation:</label>
        </div>
        <div formGroupName="markdown" class="container well come-space">
          <md-editor formControlName="text" name="Content" [height]="'400px'" [upload]="doUpload">
          </md-editor>
        </div>
      </div>
    </div> -->


    <!-- 1.2.4 PHENOMENA/SENSORELEMENTS -->
    <div class="container well some-space">
      <label for="sensorElement">Phenomena</label>
      <senph-sensor-element [parentForm]="sensorForm"></senph-sensor-element>
    </div>

    <!-- 1.2.5 DEVICES -->
    <div class="container well some-space">
      <label for="device">Devices</label>
      <senph-device [parentForm]="sensorForm"></senph-device>
    </div>

    <!-- 1.2.6 MANUFACTURER -->
    <senph-text [formErrors]="formErrors" label="Manufacturer" id="manufacturer"
      [control]="this.sensorForm.get('manufacturer')" [parentForm]="sensorForm"></senph-text>

    <!-- 1.2.7 PRICE -->
    <senph-number [formErrors]="formErrors" label="Price" id="price" [control]="this.sensorForm.get('price')"
      [parentForm]="sensorForm" step="0.01" placeholder="0.00" addon="€"></senph-number>

    <!-- 1.2.8 DATASHEET -->
    <senph-text [formErrors]="formErrors" label="Datasheet" id="datasheet" [control]="this.sensorForm.get('datasheet')"
      [parentForm]="sensorForm"></senph-text>

    <!-- 1.2.9 LIFEPERIOD -->
    <senph-number [formErrors]="formErrors" label="Lifeperiod" id="lifeperiod"
      [control]="this.sensorForm.get('lifeperiod')" [parentForm]="sensorForm" step="1" placeholder="0" addon="Days">
    </senph-number>

    <!-- 1.2.10 IMAGE -->
    <div class="container well some-space columns is-vcentered">
      <div class="column is-2"><b>Image: </b></div>
      <div class="column is-8 file is-boxed">
        <label class="file-label">
          <input class="file-input" type="file" id="imageUpload" name="imageUpload" ng2FileSelect [uploader]="uploader"
            accept="image/x-png,image/gif,image/jpeg,image/png" />
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Select image..
            </span>
          </span>
        </label>
      </div>
      <div *ngIf="sensorForm.value.image != null else noImage" id="image" class="column is-2">
        <figure class="image is-128x128">
          <img id="previewImage" class="is-rounded" [src]="previewPath">
          <a (click)="deleteImage()" class="delete is-medium has-background-danger"
            style="position: absolute; top: 0; right: 0;"></a>
        </figure>
      </div>
      <ng-template #noImage>
        <div class="no-image">
          <span>
            ?
          </span>
        </div>
      </ng-template>
    </div>

    <!-- 1.2.11 VALIDATION -->
    <senph-valid [formErrors]="formErrors" label="VALIDATE" id="validation"
      [control]="this.sensorForm.get('validation')" [parentForm]="sensorForm">
    </senph-valid>
  </div>


  <!-- 1.3 SUBMIT-BUTTONS -->
  <div class="panel-footer">
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-success" type="submit" (click)="uploader.uploadAll()">Save Changes</button>
      </p>
      <p class="control">
        <button class="button is-danger" type="button" (click)="onDelete()">DELETE SENSOR</button>
      </p>
      <!-- <p class="control">
        <button class="button is-warning is-inverted" type="button" (click)="onLoadButtonClick()">Load data</button>
      </p> -->
    </div>
    <span class="help-block" *ngIf="submitted && sensorForm.invalid">
      There are invalid fields in the form, please review your inputs to submit this form.
    </span>
    <span class="help-block" *ngIf="submitted && sensorForm.valid">
      All problems resolved, you are ready to submit this form.
    </span>
  </div>

  <!-- </div> -->
</form>