<senph-nav>loading test 678797860960</senph-nav>

<!-- <div class="container">
<div class="col-sm-4">
  <div class="col-sm-4">
    <h2>Menu</h2>
 
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="phenomena" routerLinkActive="active" class="btn btn-light" role="button">All phenomena</a>
        </li>
        <li class="nav-item">
            <a routerLink ="devices" routerLinkActive="active" class="btn btn-light" role="button">All devices</a>
        </li>
        <li class="nav-item">
            <a routerLink="domains" routerLinkActive="active" class="btn btn-light" role="button">All domains</a>
        </li>
        <li class="nav-item">
            <a routerLink ="sensors" routerLinkActive="active" class="btn btn-light" role="button">All sensors</a>
        </li>
    </ul>
    <hr>
    <router-outlet></router-outlet>
  </div>
</div>
</div> -->
