<senph-hero-banner title="Devices"
  subtitle="Discover all devices registered in SOWA"></senph-hero-banner>

<div class="container is-fluid">
  <div class="notification">
    <div class="field is-grouped">
      <p class="control  has-icons-left is-expanded">
        <input class="input" type="text" #myInput placeholder="Type to filter devices..." [(ngModel)]="searchTerm">
        <span class="icon is-left">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>

    <div class="list is-hoverable">
      <div class="list-item">
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">

          </div>
          <div class="column is-10">
            <strong>
              Label
            </strong>
          </div>
          <div class="column is-1">
            <strong>
              Verified
            </strong>
          </div>
        </div>
      </div>
      <div class="list-item" *ngFor="let devices of devicesArray | filterPipe:searchTerm;let i = index"
        [class.selected]="devices === selectedDevice" (click)=onSelect(devices)>
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-1">
            {{i+1}}
          </div>
          <div class="column is-10">
            {{devices.deviceLabel | labelLanguagePipe}}
          </div>
          <div class="column is-1">
            <span class="fa fa-stack fa-xs" *ngIf="devices.validation[0]?.value == 'true'">
              <i class="fa fa-certificate fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="pageloader is-bottom-to-top" [ngClass]="{'is-active': pageLoadActive === '1' }"><span
        class="title">Pageloader</span></div>
  </div>
</div>