<div [formGroup]="parentForm">
    <div formArrayName="sensorElement" *ngFor="let dom of parentForm.get('sensorElement')?.controls; let i = index">
        <div [formGroupName]="i" style=" padding:1em;">
            <article class="message is-small is-inverted ">
                <div class="message-header">
                    <p>{{getSelectedPhenomenon(i)}}</p>
                    <button class="button is-small is-danger" (click)="removeSensorElementButtonClick(i)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="message-body" style="border-width: 0 4px 4px 4px;">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Phenomenon:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select ">
                                        <select [id]="'phenomenonUri' + i" formControlName="phenomenonUri">
                                            <option value=""> Choose a phenomenon</option>
                                            <option *ngFor="let phenomenon of phenomenaArray"
                                                [ngValue]="phenomenon.phenomenon.value">
                                                {{phenomenon.phenomenonLabel[0].value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <span class="help-block error-block"
                                    *ngIf="sensorElement.controls[i].get('phenomenonUri').errors?.required &&
                                                            (sensorElement.controls[i].get('phenomenonUri').touched || !sensorElement.controls[i].get('phenomenonUri').pristine)">
                                    {{validationMessages.label.required}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Numeric Accuracy Value: </label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <input class="input is-normal" type="number" step="0.0000000001"
                                        placeholder="0.0000000001" [id]="'accuracyValue' + i"
                                        formControlName="accuracyValue">
                                </div>
                                <span class="help-block error-block"
                                    *ngIf="sensorElement.controls[i].get('accuracyValue').errors?.required &&
                                                            (sensorElement.controls[i].get('accuracyValue').touched || !sensorElement.controls[i].get('accuracyValue').pristine)">
                                    {{validationMessages.accuracyValue.required}}
                                </span>
                                <p class="help">Be aware numbers are rounded to a maximum of 15 digits </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Unit of Accuracy:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select ">
                                        <select [id]="'unitOfAccuracy' + i" formControlName="unitOfAccuracy">
                                            <option value=""> Choose a unit</option>
                                            <option *ngFor="let unit of unitsArray" [ngValue]="unit.y.value">
                                                {{unit.label.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <span class="help-block error-block"
                                    *ngIf="sensorElement.controls[i].get('unitOfAccuracy').errors?.required &&
                                                            (sensorElement.controls[i].get('unitOfAccuracy').touched || !sensorElement.controls[i].get('unitOfAccuracy').pristine)">
                                    {{validationMessages.unitOfAccuracy.required}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="buttons is-centered">
        <button type="button" class="button is-warning is-inverted" (click)="addSensorElementButtonClick()"
            [disabled]="parentForm.get('sensorElement').invalid">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>
                Add Phenomenon
            </span>
        </button>
    </div>
</div>