<form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="phenomenonForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Edit Phenomenon
      </h3>
    </div>

    <!-- URI -->
    <div class="panel-body">
      <div class="form-group row" [ngClass]="{'has-error' : formErrors.uri}">
        <label class="col-sm-2 control-label" for="uri">URI</label>
        <div class="col-sm-4">
          <input class="form-control" value="http://www.opensensemap.org/SENPH#" readonly>
        </div>
        <div class="col-sm-4">
          <input type="text" id="uri" formControlName="uri" class="form-control" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.uri">
            {{formErrors.uri}}
          </span>
        </div>
      </div>

      <!-- LABEL/NAME -->
      <div class="form-group" [ngClass]="{'has-error' : formErrors.name}">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-8">
          <input type="text" id="name" formControlName="name" class="form-control" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.name">
            {{formErrors.name}}
          </span>
        </div>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-group" [ngClass]="{'has-error' : formErrors.description}">
        <label class="col-sm-2 control-label" for="description">Description</label>
        <div class="col-sm-8">
          <input type="text" id="description" formControlName="description" class="form-control"
            (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.description">
            {{formErrors.description}}
          </span>
        </div>
      </div>


      <!-- DOMAINS -->
      <div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-primary" (click)="addDomainButtonClick()"
              [disabled]="phenomenonForm.get('domain').invalid">Add Domain</button>
          </div>
        </div>

        <div formArrayName="domain" *ngFor="let dom of phenomenonForm.get('domain').controls; let i = index">
          <hr *ngIf="i>0">
          <div class="well" [formGroupName]="i">

            <div class="form-group" [ngClass]="{'has-error' : dom.get('domainUri').invalid &&
                                                              dom.get('domainUri').touched }">
              <label class="col-sm-2 control-label" [attr.for]="'domainUri' + i">
                Domain URI
              </label>
              <div class="col-sm-4">
                <input type="text" [id]="'domainUri' + i" placeholder="domainName" formControlName="domainUri"
                  class="form-control">
                <span class="help-block" *ngIf="dom.get('domainUri').errors?.required && 
                                                dom.get('domainUri').touched ">
                  Domain URI is required
                </span>
              </div>
              <div class="col-sm-6">
                <button *ngIf="phenomenonForm.get('domain').length>1" class="btn btn-danger btn-sm pull-right"
                  title="Delete domain" (click)="removeDomainButtonClick(i)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : dom.get('domainLabel').invalid &&
                                                              dom.get('domainLabel').touched }">
              <label class="col-sm-2 control-label" [attr.for]="'domainLabel' + i">
                Domain Name
              </label>
              <div class="col-sm-4">
                <input type="text" [id]="'domainLabel' + i" placeholder="domainLabel" formControlName="domainLabel"
                  class="form-control">
                <span class="help-block" *ngIf="dom.get('domainLabel').errors?.required && 
                                                dom.get('domainLabel').touched ">
                  Domain name is required
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- UNITS -->
      <div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-primary" (click)="addUnitButtonClick()"
              [disabled]="phenomenonForm.get('unit').invalid">Add Unit</button>
          </div>
        </div>

        <div formArrayName="unit" *ngFor="let uni of phenomenonForm.get('unit').controls; let i = index">
          <hr *ngIf="i>0">
          <div class="well" [formGroupName]="i">

            <div class="form-group" [ngClass]="{'has-error' : uni.get('unitUri').invalid &&
                                                              uni.get('unitUri').touched }">
              <label class="col-sm-2 control-label" [attr.for]="'unitUri' + i">
                Unit URI
              </label>
              <div class="col-sm-4">
                <input type="text" [id]="'unitUri' + i" placeholder="UO Unit Identifier" formControlName="unitUri"
                  class="form-control">
                <span class="help-block" *ngIf="uni.get('unitUri').errors?.required && 
                                                uni.get('unitUri').touched ">
                  Unit URI is required
                </span>
              </div>
              <div class="col-sm-6">
                <button *ngIf="phenomenonForm.get('unit').length>1" class="btn btn-danger btn-sm pull-right"
                  title="Delete Unit" (click)="removeUnitButtonClick(i)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error' : uni.get('unitLabel').invalid &&
                                                              uni.get('unitLabel').touched }">
              <label class="col-sm-2 control-label" [attr.for]="'unitLabel' + i">
                Unit Name
              </label>
              <div class="col-sm-4">
                <input type="text" [id]="'unitLabel' + i" placeholder="Shortcut/Name of Unit"
                  formControlName="unitLabel" class="form-control">
                <span class="help-block" *ngIf="uni.get('unitLabel').errors?.required && 
                                                uni.get('unitLabel').touched ">
                  Unit name is required
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit" [disabled]="phenomenonForm.invalid">Save Changes</button>
        <button class="btn btn-primary" type="button" (click)="onLoadButtonClick()">Load data</button>
      </div>
    </div>
  </div>
</form>