<div class="container">
  <div [hidden]="submitted">
    <h1>Add Device Form</h1>
    <form (ngSubmit)="onSubmit()" #deviceForm="ngForm">

      <div class="form-group row">
          <label class="col-sm-12" for="uriInput">URI-Tag (URL is added automatically as shown, please provide tag only)</label>  
          <div class="uriInput col-sm-6">
            <input class="form-control" value="http://www.opensensemap.org/SENPH#" readonly>
          </div>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="uri"
              required
              [(ngModel)]="deviceModel.uri" name="uri"
              #uri="ngModel" placeholder="simple_device_identifier">
              <div [hidden]="uri.valid || uri.pristine"
                    class="alert alert-danger">
                URI-Tag is required
              </div>              
          </div>
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="deviceModel.name.label" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
 
      <div class="form-group">
        <label for="power">Language</label>
        <select class="form-control" id="labelLang"
                required
                [(ngModel)]="deviceModel.name.lang" name="labelLang"
                #labelLang="ngModel">
          <option *ngFor="let llang of languageTags" [value]="llang.short">{{llang.name}}</option>
        </select>
        <div [hidden]="labelLang.valid || labelLang.pristine" class="alert alert-danger">
          Language is required
        </div>
      </div>
 


      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="deviceModel.description.comment" name="description"
               #description="ngModel">
        <div [hidden]="description.valid || description.pristine"
             class="alert alert-danger">
          Description is required
        </div>
      </div>


      <div class="form-group">
        <label for="power">Language</label>
        <select class="form-control" id="commentLang"
                required
                [(ngModel)]="deviceModel.description.lang" name="commentLang"
                #commentLang="ngModel">
          <option *ngFor="let clang of languageTags" [value]="clang.short">{{clang.name}}</option>
        </select>
        <div [hidden]="commentLang.valid || commentLang.pristine" class="alert alert-danger">
          Language is required
        </div>
      </div>

      <div class="form-group">
        <label for="sensor">Sensor</label>
        <input type="text" class="form-control" id="sensor"
              required
              [(ngModel)]="deviceModel.sensor" name="sensor"
              #sensor="ngModel">
        <div [hidden]="sensor.valid || sensor.pristine"
             class="alert alert-danger">
          Sensor is required
        </div>
      </div>

      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" id="website"
                [(ngModel)]="deviceModel.website" name="website">
      </div>

      <div class="form-group">
        <label for="image">image</label>
        <input type="text" class="form-control" id="image"
                [(ngModel)]="deviceModel.image" name="image">
      </div>

      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" class="form-control" id="contact"
               [(ngModel)]="deviceModel.contact" name="contact">
      </div>


      <button type="submit" class="btn btn-success" [disabled]="!deviceForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="deviceForm.reset()">New Hero</button>
    </form>
  </div>
</div>



    
 