<div class="container">
  <div [hidden]="submitted">
    <h1>Add Phenomenon Form</h1>
    <form (ngSubmit)="onSubmit()" #phenomenonForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name.label" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
 
      <div class="form-group">
        <label for="power">Language</label>
        <select class="form-control" id="labelLang"
                required
                [(ngModel)]="model.name.lang" name="labelLang"
                #labelLang="ngModel">
          <option *ngFor="let llang of languageTags" [value]="llang">{{llang}}</option>
        </select>
        <div [hidden]="labelLang.valid || labelLang.pristine" class="alert alert-danger">
          Language is required
        </div>
      </div>
 


      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="model.description.label" name="description"
               #description="ngModel">
        <div [hidden]="description.valid || description.pristine"
             class="alert alert-danger">
          Description is required
        </div>
      </div>


      <div class="form-group">
        <label for="power">Language</label>
        <select class="form-control" id="commentLang"
                required
                [(ngModel)]="model.description.lang" name="commentLang"
                #commentLang="ngModel">
          <option *ngFor="let clang of languageTags" [value]="clang">{{clang}}</option>
        </select>
        <div [hidden]="commentLang.valid || commentLang.pristine" class="alert alert-danger">
          Language is required
        </div>
      </div>

      <div class="form-group">
        <label for="unit">Unit</label>
        <input type="text" class="form-control" id="unit"
              required
              [(ngModel)]="model.unit" name="unit"
              #unit="ngModel">
        <div [hidden]="unit.valid || unit.pristine"
             class="alert alert-danger">
          Unit is required
        </div>
      </div>

      <div class="form-group">
        <label for="domain">Domain</label>
        <input type="text" class="form-control" id="domain"
               [(ngModel)]="model.domain" name="domain">
      </div>


      <button type="submit" class="btn btn-success" [disabled]="!phenomenonForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="phenomenonForm.reset()">New Hero</button>
    </form>
  </div>
 
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name.label }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Description</div>
      <div class="col-xs-9">{{ model.description.comment }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Unit</div>
      <div class="col-xs-9">{{ model.unit }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>