<div *ngIf="sensor != undefined">
  <mat-toolbar style="background-color: #666666c6;" class="example-toolbar">
    <span class="title-center">
      <h4 class="capitalize" style="color: #ffd63e; font-weight:600;">{{sensor.labels[0].value}}</h4>
    </span>
    <!-- <span class="example-fill-remaining-space"></span> -->
    <button class="btn btn-primary btn-senph" (click)="editButtonClick(uri)">Edit</button>
  </mat-toolbar>
  <h1 class="headline-border detail-body"></h1>
  <div class="detail-body">
    <div class="article detail-body">
      <p class="siteSub">From Wikipedia, the free encyclopedia</p>
      <p class="roleNote">This article is about the {{sensor.labels[0].value}}. For equivalent sensors, see <a class="link-senph"
          href="/sensor/sameAs/{{sensor.labels[0].value}}">{{sensor.labels[0].value}}-Equivalents.</a></p>

      <div *ngIf="sensor.image[0] != undefined" class="articleRight">
        <div class="articleRightInner">
          <img src="{{sensor.image[0].value}}" alt="{{sensor.labels[0].value}}" />
        </div>
        The {{sensor.labels[0].value}}
      </div>
      <p>{{sensor.description[0].value}}</p>
      <div class="contentsPanel">
        <div class="contentsHeader">Contents</div>
        <ul>
          <li><span>1</span><a href="/sensor/{{uri}}#uri">URI</a> </li>
          <li><span>2</span><a href="/sensor/{{uri}}#labels">Labels</a> </li>
          <li><span>3</span><a href="/sensor/{{uri}}#price">Price Category</a></li>
          <li><span>4</span><a href="/sensor/{{uri}}#manufacturer">Manufacturer</a></li>
          <li><span>5</span><a href="/sensor/{{uri}}#lifeperiod">Life period</a></li>
          <li><span>6</span><a href="/sensor/{{uri}}#datasheet">Data sheet</a></li>
          <li><span>7</span><a href="/sensor/{{uri}}#phenomena">Measurable phenomena</a></li>
        </ul>
      </div>
      <h2 id="uri">URI</h2>
      <p>The URI of the {{sensor.labels[0].value}} is: </p>
      <b>{{sensor.iri[0].value}}</b>
      <h2 id="labels">Labels</h2>
      <p>These are the available labels for the {{sensor.labels[0].value}} Sensor:</p>
      <ul>
        <li *ngFor="let label of sensor.labels">
          <b>{{label.value}}</b>
        </li>
      </ul>
      <div *ngIf="sensor.price[0] != undefined">
        <h2 id="price">Price Category</h2>
        <p>The price category of the {{sensor.labels[0].value}} is:</p>
        <div [ngSwitch]="sensor.price[0].value">
          <div *ngSwitchCase="1">
            <b>
              €
            </b>
          </div>
          <div *ngSwitchCase="2">
            <b>
              €€
            </b>
          </div>
          <div *ngSwitchCase="3">
            <b>
              €€€
            </b>
          </div>
          <div *ngSwitchDefault>
            The price category of this sensor is currently unknown.
          </div>
        </div>
      </div>

      <div *ngIf="sensor.manufacturer[0] != undefined">
        <h2 id="manufacturer">Manufacturer</h2>
        <p>The manufacturer of the {{sensor.labels[0].value}} is:</p>
        <b>{{sensor.manufacturer[0].value}}</b>
      </div>

      <div *ngIf="sensor.lifeperiod[0] != undefined">
        <h2 id="lifeperiod">Life period</h2>
        <p>The life period of the {{sensor.labels[0].value}} is:</p>
        <b>{{sensor.lifeperiod[0].value}}</b>
      </div>

      <div *ngIf="sensor.datasheet[0] != undefined">
        <h2 id="datasheet">Datasheet</h2>
        <p>The datasheet of the {{sensor.labels[0].value}} is:</p>
        <b><a class="link-senph" href="{{sensor.datasheet[0].value}}" target="_blank">{{sensor.datasheet[0].value}}</a></b>
      </div>

      <div *ngIf="sensor.sensorElements[0] != undefined">
        <h2 id="phenomena">Measurable Phenomena</h2>
        <p>These are the phenomena that can be measured using the {{sensor.labels[0].value}} Sensor:</p>
        <table>
          <thead>
            <th class="mat-h-cell">Phenomenon URI</th>
            <th class="mat-h-cell">Unit</th>
            <th class="mat-h-cell">Accuracy</th>
          </thead>
          <tbody>
            <tr *ngFor="let selem of sensor.sensorElements">
              <td class="mat-h-cell">
                <button class="btn btn-link link-senph"
                  (click)="redirectDomain(selem.phenomena.value, '/phenomenon/')">{{selem.phenomena.value}}</button>
              </td>
              <td class="mat-h-cell">
                  <a class="link-senph" href="{{selem.unit.value}}" target="_blank">{{selem.unit.value}}</a>
                
              </td>
              <td class="mat-h-cell">
                &plusmn; {{selem.accVal.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="categories">
        <a href="https://opensensemap.org/" target="_blank">openSenseMap </a> <a href="https://www.sensebox.de/en/" target="_blank">senseBox Project</a>
      </div>

    </div>

  </div>
</div>