<div [formGroup]="parentForm">
    <div class="container well some-space">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{label}}:</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input is-normal" type="number" [step]="step" [placeholder]="placeholder" [id]="id"
                            [formControl]="control">
                    </div>
                    <p class="control">
                        <a class="button is-static">
                            {{addon}}
                        </a>
                    </p>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Set value to <i>undefined</i> :</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="radio + {{id}}" (change)="toggleDisabled($event)">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>