/* You can add global styles to this file, and also import other style files */
//  @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// $my-app-primary: mat-palette(#ffd63f);
@font-face {
  font-family: BrixSlab-Bold;
  src: url(assets/font/BrixSlab-Bold.otf) format("opentype");
}
@font-face {
  font-family: BrixSlab;
  src: url(assets/font/BrixSlab-Regular.otf) format("opentype");
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.headline-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.notification pre code {
  background: #27292e !important;
}

$navbar-breakpoint: 600px;
@import "~node_modules/bulma/bulma";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// @import 'https://use.fontawesome.com/releases/v5.10.1/css/all.css');
