<div [formGroup]="parentForm">
    <div formArrayName="unit" *ngFor="let dom of parentForm.get('unit')?.controls; let i = index">
        <div [formGroupName]="i" style=" padding:1em;">
            <article class="message is-small is-inverted ">
                <div class="message-header">
                    <p>{{getSelectedUnit(i)}}</p>
                    <button class="button is-small is-danger" (click)="removeUnitButtonClick(i)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="message-body" style="border-width: 0 4px 4px 4px;">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Unit:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select ">
                                        <select [id]="'unitUri' + i" formControlName="unitUri">
                                            <option value=""> Choose a unit</option>
                                            <option *ngFor="let unit of unitsArray" [ngValue]="unit.y.value">
                                                {{unit.label.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <span class="help-block error-block"
                                    *ngIf="unit.controls[i].get('unitUri').errors?.required &&
                                                                (unit.controls[i].get('unitUri').touched || !unit.controls[i].get('unitUri').pristine)">
                                    {{validationMessages.unit.required}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="buttons is-centered">
        <button type="button" class="button is-warning is-inverted" (click)="addUnitButtonClick()"
            [disabled]="parentForm.get('unit').invalid">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>
                Add Unit
            </span>
        </button>
    </div>
</div>