<mat-toolbar style="background-color: #0000006b;" class="example-toolbar">
    <h1 class="example-app-name capitalize" style="color: #ffd63e;">Device List</h1>
</mat-toolbar>
<div class="content">
<h1 class="headline-border"></h1>
<table style="margin: 20px 0">
    <tbody>
      <tr>     
        <th style="width:45%">NAME:</th>
        <th style="width:55%"> URI:</th>
      </tr>
      <tr *ngFor='let devices of devicesArray'>
        <td class="table-entry">
          {{devices.label[0]?.value}}
        </td>
        <td *ngIf='devices.device.type === "uri"'>
          {{devices.device.value}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <ul>
  <li *ngFor='let device of devicesArray'>
    {{device.label[0].value}}
  </li>
</ul> -->