<h1 class="headline-border">Device List</h1>
<table style="margin: 20px 0">
    <tbody>
      <tr>     
        <th style="width:45%">NAME:</th>
        <th style="width:55%"> URI:</th>
      </tr>
      <tr *ngFor='let devices of devicesArray'>
        <td class="table-entry">
          {{devices.label[0]?.value}}
        </td>
        <td *ngIf='devices.device.type === "uri"'>
          {{devices.device.value}}
        </td>
      </tr>
    </tbody>
  </table>
<!-- <ul>
  <li *ngFor='let device of devicesArray'>
    {{device.label[0].value}}
  </li>
</ul> -->